{% include 'partials/head.liquid' %}
    <main>
      <a href="/">Back</a>
      <h2>{{ product.name }}</h2>
      <p>from €{{ product.amount }}</p>
      <img src="{{ product.image }}">
      <p>{{ product.description }}</p>
      <a href="{{ product.shop_url }}">{{ product.shop_name }}</p>
    </main>
  </body>
</html>