{% include 'partials/head.liquid' %}
<h2>{{ product.name }}</h2>
<p>{{ product.amount }}</p>
<img src="{{ product.image }}">
<p>{{ product.description }}</p>
<a href="{{ product.shop_url }}">{{ product.shop_name }}</p>
